body {
    background-image: url("/static/element/bg.png");
    overflow-x: hidden;
}
div {
    border: 1px solid;
}
#title {
    border: 0 none;
    height: 100px;
    margin: 0 auto 40px;
    width: 237px;
}
#time_line {
    border: 0 none;
    height: 100px;
    position: relative;
    width: 3000px;
}
#show_member {
    height: 300px;
    border: 0px;
}
.member {
    float: left;
    height: 100px;
    width: 100px;
}
.grade {
    border: 0 none;
    float: left;
    height: 50px;
    width: 200px;
}
#time_line_bg{
    background-image: url("/static/element/simple/line.png");
    border:0 none;
    height:10px;
}
#time_line_body {
    border: 0 none;
    position:relative;
    top: -25px;
}
.circle {
    position: relative;
    top: -35px;
    width:75px;
    height:75px;
}
*{
    margin:0px;
}
#info{
    position:absolute;
    display:none;
    width:100px;
    height:100px;
    border:1px solid;
}